:root{
 background: hsl(30, 54%, 90%)
};

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
}
html{
    padding: 0;
    margin: 0;
}
h1, h2, p,div, h3, section ,article{
    padding: 0;
    margin: 0;
    
}
.main-container{
    width: 90rem;
    background: hsl(30, 54%, 90%);
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8.06rem 0;
}
.main-contents{
    width: 36.25rem;
    border-radius: 1.875rem;
    padding:2.5rem;
    background: hsl(0, 0%,100% );
    display: flex;
    flex-direction: column;
     
}
.hero{
    width: 36.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.image{
    width: 100%;
    height: 18.75rem;
}

.image , .image img{
    border-radius: 1rem;
}
 .image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
 }

.title{
    font-family: "Young serif";
    font-size: 2.5rem;
    font-weight: 500;
    color: hsl(24, 5%, 18%);
}
.hero .description{
    font-size: 1.01rem;
    line-height: 1.5rem;
    font-family:"Outfit",sans-serif;
    font-weight: 500;
    letter-spacing: -0.046rem;
    color:hsl(30, 10%, 34%);

}

.prep-time{
    margin-top:2.5rem;
    padding: 1.688rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 1rem;
    background: hsl(330, 100%, 98%);
}
.prep-time h3{
    font-size: 1.25rem;
    font-family: "Outfit", sans-serif;
    color: hsl(332, 51%, 32%);
    font-weight: 800;
}

.prep-time ul{
    list-style-type: square;
    color:hsl(30, 10%, 34%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}
.list li{
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;

}
.bold{
    font-weight: 700;
}
